/**
 * @file
 * Customization for Wwuzen-library-lit
 */
 
/* 
//
// Styles for the LIT portion of the library site (wwuzen-library-lit)
//
//
//		LIT site wide mods,
//      CKEdit width tweek (via the outside container)
//		LIT (basic page) editor
//		IPE (in-place editor) mods
//
//  CKEditor customization is in ~/sites/library.wwu.edu/files/adminimal-custom.css
//  for basic page (ck)editor (only) and media pop-up styling
*/  



/* site-wide mods */


/*  Editing Page   */

/* CKeditor */


	/* 'ckeditor-custom-class' is declared in the CKEditor-custom-config module's config.js */
	body.ckeditor-custom-class {
		background-color:#fff;
		background-image: none;
		padding: 0 10px 0 10px;
		max-width: 775px;
		font-size: 110%;
		color: #333;
		-webkit-text-stroke: 0.0125em;
		} 
	
	body.ckeditor-custom-class blockquote {
		background: #ddd;
		border-radius: 5px;
		padding: 1em 1.5em;
		margin: 30px auto;
		max-width: 75%;
		min-width: 45%
		}
		
	/* force the width of the editor container */

	#edit-body div.form-textarea-wrapper {max-width:1024px;}

	 
/****  LIT site changes */



/*  keep the changes within ~/lit  */

.section-lit {
 

 
 /*  general styling  */

    /*  background gray gradient conflicts with embeds, chg to solid white */
	.page, main {
	margin-top: 0px;
	background-image: none;
	background-color: #fff;
	filter: none;
	}
	
    /*  Content, ugly font fix  */

	/*  Firefox has a problem rendering Muli characters, set text-stroke-width  */

	.content p, .content li {
	font-size: 110%;
	color: #333;
	-webkit-text-stroke: 0.0125em;
	}
	
	.content h3, h2 {
	-webkit-text-stroke: 0.015em;
	}
	
	
/* General Page Styling  */
	
	/*  hide the top quick links and reduce the gap (above the header) */
	.western-header nav {
	top: 5.7em;
	display:none;
	}
	
	header[role="banner"] > div {
	margin-top: 0px;
	}
	 
	/* image and menus - rounded corners */
	.tb-megamenu-menu-lit-main-menu, img {
	border-radius: 5px;
	}
	
	/* round gray box corners */
	#landing-page .panel-pane, .panelizer-view-mode .panel-pane {
	
	}
		 
	/*  clearfix and reset paragraph margins */
	#lit-lesson p {
	   clear: both;
	   margin: 20px 5px;
	} 

	
	
/*  LIT - main menu bar tweeks  */
	
	
	/*  some position kludging */
	.tb-megamenu {
	margin-top: -10px;
	}	
	
	#block-tb-megamenu-menu-lit-main-menu { 
	margin-bottom: 0;
	}
	
   /*	menu items - squeeze everything in, background and border color to match LIT theme */
	 .tb-megamenu-menu-lit-main-menu {
    font-size: 15px;
	}
	
	
	/*  hide the right border bar on rightmost menu item  */
	.tb-megamenu-menu-lit-main-menu li:last-of-type a {
	border-right: none;  
	}
	  

/*  Left Footer  */
	
	/*  contact info styling */
	.footer-left {	
		font-size: 0.725em;
		padding: 0.5em;
		}
		
	.footer-left p:first-child {
		font-size: 95%;
		line-height: 1.7;
		}

	.footer-left p {
		line-height: 1.5em;
		padding-left: 1.0em;
		}

	#footer-left-heading h3 { 
		color: #fff;
		font-size: 1.7em;
		margin-top: 0.8em;
		}
		
	#footer-left-contact-info img {
		vertical-align: middle;
		padding-right: 0.625em;
		}

	.footer-left #footer-left-contact-info a {
		color: #FFF;
	}

/*  blockquotes */
	blockquote {
		margin: 30px auto;
		border-radius: 5px;
		background-color: #eee;
		}
		
/* image captions */
	.imgcaption {
		font-size: 75%;
		line-height: 50%;
	}
	
/* Panel vs Page Titles - duplicate title fix: disable pane titles, use page title */
	.node-full h2 {display:none;}
	
	

/* LIT front page - module icons   */


/*  boost font, set sizes, add inter-cell/row gap, etc.  */
     table.lit-front-page-icons {
	 font-size: inherit;
	 border-collapse: separate;
     border-spacing: .2em;
	 }
	 
	 table.lit-front-page-icons td {
	 width: 30%;
	 height: 180px;
	 vertical-align: top; 
	 border-radius: 5px; 
	 }
	 
/*  table row background color - disable alternating gray */
	table.lit-front-page-icons   tr:nth-of-type(2n+1) {background: inherit; }

/* force anchor colors to white  */
	table.lit-front-page-icons  { 
	  a, a:hover, a:visited, a:focus {
	    color: white!important;
	    font-size: 175%; 
	 line-height: 100%; 
		} 
    }
 	 
/*  make whole table cell clickable  */
	table.lit-front-page-icons   td a{width:100%; height: 100%; display:block;}
	
	
	
	
/*  Book Navigation Pagination Bar - bottom of page, prev-next-up  */
	.book-navigation {
		.menu { 
			display: none;
			}

		.page-links {
			padding: 0.3em 1.0em;
			margin: 1.5em 0 0.5em 0;
			background-color: #f7f7f7;
			}
		
		ul.links {
			font-size: 80%; 
			}
	}
   /*  now that it looks good, hide it. still clutters the pages. */
	.page-links { display:none; } 
	

/*   Books-made-simple navigator block - sidebar toc widget  */
	#block-book-navigation {
		h2.block-title { 
			margin-bottom: 10px;
			padding: 3px;
			font-size: 110%; 
		}
		
		ul { padding: 0 0 0 10px;}
		
		ul li.leaf {list-style: none;}
				
		li { 
			line-height: 1.2em;
			padding: 3px 0px;
		}
			
		li.first {  }

		li a { padding: 5px 10px; }
		
		li a.active {
			color: #000;
			background-color: #bad80a;
			padding: 2px 10px;
			margin: 2px;
			border-radius: 5px;
		}
	}

		
/*  Accordion Menu  */

  /*  remove residual animation, use the transition embedded in navigator.css  */
  
  .block-accordion-menu .ui-accordion-header a, .block-accordion-menu .ui-accordion-header span.accordion-link, .ui-accordion .ui-accordion-content a, .ui-accordion .ui-accordion-content span.accordion-link {
  transition: none;
  }
  
  /* cosmetic tweek */
  .ui-accordion .ui-accordion-content  {
  line-height: 1.2em;
  }
  
  /*  "Special menu items" module tweeks - adds accordion menu subtitles and separator lines  */

.nolink {
	line-height: 3.0em;
    font-weight: 900;
	padding: 15px;
	}
  
  
  
 
/*  H5P library  */

  /*  turn on various arrows  */
  .h5p-dialogcards .h5p-button.h5p-prev:before, 
  .h5p-dialogcards .h5p-button.h5p-next:after, 
  .h5p-dialogcards .h5p-button.h5p-turn:before, 
  .h5p-dialogcards .h5p-button.h5p-retry:before  {
	font-family: H5PFontAwesome4, FontAwesome;
	}
	
	/*  dialog cards  */
	
	  /*  hide title - duplicate of page title  */
	
	.h5p-dialogcards .h5p-title {
	display:none;
	}
	/*  flip cards  */

		/* add inner padding  */
		.h5p-dialogcards { 
			padding: 5px; 
		} 
	
	
/*  Prezi Presentation  */
		.media-prezi-player {
		display: inline;
		 padding: 10px;
		 }
			
	

/*******  end of general site-wide mods *******/
	
	
	
	
/******  LIT Pages  ************/



/* Welcome - LIT front page  (~/lit)  node-16094 */

	/* Some padding around the top pane's content */
	article.node-16094 {
	padding: 0 20px;
	} 


/*  Virtual Tour page - hide 'submitted by' line  (node-16039) */

    article.node-16039 .submitted {
	display: none; 
	}
	
/* Research 101 launch page */

	/* add a bit of padding to the L/R of content panel */
	.lit-onesearch  {	
	}
	
/* Finding Sources - Databases launch page */
	
	.lit-databases  {
	padding: 0 30px;
	}

/* Using Soruces */
	.lit-using-sources  {
	padding: 0 30px;
	}
	
/*  getting started */
	
	.lit-getstarted {
	padding: 0 30px;
	}
	
/* making citations */
	.lit-academic-integrity {
	padding: 0 30px;}


/****** end of page-unique changes ******/

} /*  end .section-lit  */




/*******************
/*
/*  IPE editor 
/*
/*  In-place editor, the page- embedded drag-and-drop panel editor
/*  base edit-mode page css: ~/sites/all/modules/panels/panels-ipe/css
/*  base pop-up (ipe only) styling in: ~/sites/all/modules/ctools/css
/*
/*********************/

/* bottom launch bar - change background from black to dark blue */

	div#panels-ipe-control-container {
		background-color: #001f57;
		}

		
/*  pane styling  */
	/* change the pane dragbar's 'edit content' icon, from gears to paintbrush */
	div.panels-ipe-handlebar-wrapper li.edit a span {
		background-image: url("../../../modules/panels/panels_ipe/images/icon-style.png");
		}

	/*  shrink the pane dragbar's margins a bit  */
	div.panels-ipe-dragbar {
		padding: 3px;
		height: 35px;		
		}
		
	/* shrink gap between the region bar and the pane */
	div.panels-ipe-portlet-wrapper {
		margin : 5px 0 0 0 ;
		}
		
/* region title bars (lt. blue background) */

	/* trim padding in header */
	div.panels-ipe-placeholder {
		padding: 5px 0 10px 10px;
		border: 1px solid #ccf;
		border-radius: 5px;		
		min-height: 35px;
		}
		
	/* adjust the bar title position */
	div.panels-ipe-placeholder h3 {
		margin: 3px 0;
		}		

	/* blank out unnecessary drag icon */		
	div.panels-ipe-draghandle span.panels-ipe-draghandle-icon {
		display:none;
		}
	
	/* hide the 'add pane' icon in header bar */
	div.panels-ipe-newblock li {
		display: none; 
	}
		
	/* region box hover styling */
	.panels-ipe-editing div.panels-ipe-portlet-wrapper {
		border-radius: 5px;
		border: 1px dashed #ccf;
		margin-top: 5px;
		}		

	.panels-ipe-editing div.panels-ipe-portlet-wrapper:hover {
		border: 1px solid #99c;
		}		

		

/*  IPE edit content pop-up */

	div.ctools-modal-content  {

	label {
		font-family: verdana;
		color: #333;
		}
	label[for=edit-admin-title] {
		font-size: 0.8em;
		}
	label[for=edit-title], label[for=edit-body-value] {
		font-size: 1.6em;
		}
	label[for=edit-reusable] {
		font-size: 1.3em;
		}
	input#edit-title.form-text {
		font-size: 2.1em;
		color: #0073d6;
		border-radius: 5px;
		border-color: #ccc;
		}
	} 

	
	/* hide the text-format description (nr editor select ) */
	.filter-guidelines {
	display: none;
	}
	
	/* change the styling gear to settings (old style brush icon used for 'edit' now) */
	
	div.panels-ipe-handlebar-wrapper li.style a span, div.panels-ipe-newblock a.style span {
	background-image: url(../../../modules/panels/panels_ipe/images/icon-settings.png);
	}
	
	/* style the finish/cancel buttons */
	.form-actions {
	  padding: 6px 20px;
	  margin-bottom: 1em;
	  text-align: center;
	  font-weight: normal;
	  
		input#edit-return {
		  font-size: 1.6em;
		  background: #0074BD;
		  color: #fff;
		  margin-left: 2em;
		  border-radius: 5px;
		}
		
		input#edit-cancel {
		  font-size: 1.6em;
		  background: #b73939;
		  color: #fff;
		  margin-left: 2em;
		  border-radius: 5px;
		}
	}  /***  .form-actions   ***/
		
#landing-page .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane h2 {
  padding-top: 0px !important;
}
  
#faq-highlight #div1, #faq-highlight #div2, #faq-highlight #div3, #faq-highlight #div4, #faq-highlight #div5, #faq-highlight #div6, #faq-highlight #div7, #faq-highlight #div8, #faq-highlight #div9, #faq-highlight #div10, #faq-highlight #div11, #faq-highlight #div12, #faq-highlight #div13, #faq-highlight #div14, #faq-highlight #div15 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}
  
/* EOF */


