/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */

@import "base";
@font-face {
    font-family: 'entyporegular';
    src: url('../font/entyporegular/Entypo-webfont.eot');
    src: url('../font/entyporegular/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/entyporegular/Entypo-webfont.woff') format('woff'),
         url('../font/entyporegular/Entypo-webfont.ttf') format('truetype'),
         url('../font/entyporegular/Entypo-webfont.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ****************************************************
       Staff/User Listing & Individual Profiles
**************************************************** */

.user-module {
  background:#fff;
  //@include box-shadow(#ddd 0 0 7px 3px);
  border:solid 1px #eee; // Remove border if using box-shadow
  padding:10px;
  display:inline-block;
  margin:1em .5em 0 1em;
  width:210px;
  vertical-align:top;
  text-align:center;
  h3 {
    font-size:1.17em;
    line-height:1.17;
    color:$wwuLtblue;
    margin-bottom:.5em;
    margin-top:.25em;
    text-align:left;
  }
  img { display:block; margin:0 auto; }
}

main p.user-title {
  color:#222;
  line-height:1.25;
  font-size:1em;
  text-align:left;
  margin-top:.5em;
}

main .user-module div {
  display:inline-block;
  cursor:pointer;
  color:#bbb;
  z-index:555;
  margin-right:12.5%;
  @include transition(.5s);
  .contact-icon {
    font-family:entyporegular, sans-serif;
    font-size:2.5em;
  }
  .contact-icon-value {
    @include opacity(0);
    height:0;
    width:0;
    display:block;
    position:absolute;
    overflow: hidden;
    background:#fff;
    color:#222;
    margin-top:0;
    padding:.25em .75em;
    font-size:.925em;
    text-align:center;
    @include transition(.5s position);
    @include box-shadow(#777 0 0 4px 1px);
  }
  &.tooltip .contact-icon-value, .contact-icon-value:focus {
    @include opacity(1);
    height:auto;
    width:auto;
    margin-top:-5em;
    @include transition(.5s);
  }
  &.tooltip .contact-icon { @include transition(.3s); }
  &.location {
    .contact-icon:before { content:'\0030'; }
    &:hover .contact-icon:before, &:focus .contact-icon:before, &.tooltip .contact-icon:before { color:$wwuGreen; }
    .contact-icon-value { margin-left:-5%; }
  }
  &.phone {
    .contact-icon:before { content:'\0021'; }
    &:hover .contact-icon:before, &:focus .contact-icon:before, &.tooltip .contact-icon:before { color:$wwuLime; }
    .contact-icon-value { margin-left:-4%; }
  }
  &.email {
    margin-right:0;
    p { margin:0; }
    .contact-icon:before { content:'\0025'; }
    &:hover .contact-icon:before, &:focus .contact-icon:before, &.tooltip .contact-icon:before { color:$wwuYellow; }
    .contact-icon-value { margin-left:-6%; }
  }
  &.tooltip:hover .contact-icon:before, &.tooltip:focus .contact-icon:before { @include opacity(.7); @include transition(.1s); }
}


/*
 * User Profile Styles
*/


.user-individual-profile main {
  .panels-flexible-column-staff_profile-1 {
    width:auto;
  }
  .panels-flexible-column-staff_profile-main {
    width:55%;
    margin: 0 0 1em 1.5em;
  }

  p, .location-container {
    background:no-repeat left;
    background-size:25px;
    margin:.75em 0;
  }

  .field-year-started,
  .field-department-program,
  //.field-office-hours,
  .field-location,
  .field-phone-number,
  .field-academic-title,
  .field-e-mail-address,
  .field-tr-location,
  .field-about {
    font-size:1.17em;
    padding-left:2em;
  }

  .field-your-photo > img {
    background:#fff;
    @include box-shadow(#ddd 0 0 7px 3px);
    padding:10px;
    display:inline-block;
    margin-left:.75em;
    margin-top:.75em;
  }
  .field-academic-title {
    background-image:url('../images/userprofiles/user-light-blue.png');
  }
  .field-department-program {
    font-size:.925em;
    margin-top:0;
  }
  p.field-year-started {
    margin-top:-1em;
    margin-left:.25em;
    font-size:1em;
    span {
      margin-top:0;
      font-size:.925em;
      &:before { content:'Since '; }
    }
  }

  .location-container {
    background-image:url('../images/userprofiles/location-green.png');
    background-position:.33em;
    background-size:.925em;
  }
  .field-tr-location {
    display:inline;
  }
  .field-tr-location:nth-of-type(even) {
    padding-left:0;
    background:none;
    display:inline;
  }

  .field-office-hours {
    font-size:.925em;
    background-image:url('../images/userprofiles/office-hours-green.png');
    background-size:1.17em;
    background-position:0 .17em;
    margin-top:-.75em;
    padding-left:2em;
    margin-left:2.5em;
    &:before { content:'Office Hours: '; }
  }
  .field-phone-number {
    background-image:url('../images/userprofiles/phone-lime.png');
    background-size:1.25em;
  }
  .field-e-mail-address {
    background-image:url('../images/userprofiles/email-yellow.png');
    background-size:1.25em;
  }
  /*
   * Not currently a field
   * .education {
   * background-image:url('../images/userprofiles/education-red.png');
   * }
  */

  .field-about {
    margin-left:-2em;
    font-size:1em;
    &:before {
      content:'';
      display:block;
      background:#ddd;
      height:1px;
      width:100%;
      margin:1em 0;
    }
  }
}
/*
 * Field wrappers when the Fences module is enabled.
 */

.field-label { /* The optional label for a field. */
}

.field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}


/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */

.field { /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime { /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

/*
 * Named fields
 */

.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}
