/**
 * @file
 * Form Styling
 */

@import "base";

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.25em 0;
  font-family:$muli;

  .form-text {
    font-family:$muli;
    padding:.25em;
    background:#fff;
    border-width:1px;
    border-color:gray;
    border-radius:1px;
    &:focus, &:active { outline:none; @include box-shadow(0 0 4px 0 $wwuOceanBlue); }
  }

  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    border: 1px solid #c00;
    color:$wwuRed;
  }

  label { /* The label for a form element */
    display: block;
    font-weight:normal;
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
  }

  .form-required { /* The part of the label that indicates a required field */
    color: $wwuOceanBlue;
  }

  .description { /* The descriptive help text (separate from the label) */
    font-size: 0.85em;
  }

  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
}

.form-submit { /* The submit button */
  font-family:$muli;
  font-size:.925em;
  padding:.25em .75em;
  background:#fff;
  border:solid 1px #ddd;
  border-radius:3px;
  @include box-shadow(0 0 2px #ddd);
  &:hover, &:focus, &:active { @include box-shadow(0 0 2px $wwuLime); }
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(button);
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
  input[type=submit] {
    font-family:$muli;
    padding:.25em .75em;
    background:#fff;
    border:solid 1px #ddd;
    border-radius:3px;
    margin-left:.75em;
    @include box-shadow(0 0 2px #ddd);
    &:hover, &:focus, &:active { @include box-shadow(0 0 2px $wwuLime); }
  }
}

#search-form .form-item-keys label { display:block; }

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul { /* OpenID creates a new ul above the login form's links. */
    padding:0;
    list-style-type:none;
    font-size:.75em;
    margin:0;
  }

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-top: 1.5em;
    margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
  }

  li.user-link { /* The "Cancel OpenID login" link. */
    margin-top: 1.5em;
  }
  .item-list ul { font-family:$muli; }
}



/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}
