//Hide the darn contextual link of the main menu when the page loads for admins
.main-menu div.contextual-links-wrapper ul.contextual-links {
  display:none;
}
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

// Create and import our sprite sheet for the icons used in the right footer block
@import "../images/westernIcons/*.png";
@include all-westernIcons-sprites;

// Import _accordion.scss at bottom of file.

/* ****************************************************
                        Body
**************************************************** */

body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  -webkit-font-smoothing: antialiased; //Make fonts in webkit not look terrible.
}

.page {}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/* ****************************************************
                       Header
**************************************************** */

header[role="banner"] button {
  outline:none;
}

.western-header {
  //font-family:$muli;
  .western-search-widget {
    background:#fff;
    padding:0;
    display:block;
    overflow:hidden;
    z-index:200;
    height:4em;
    width:18.25em;
    margin-top:-.31em;
    @include box-shadow(#333 0 0 8px);
    &.hide { display:none; }
    .form-item .form-text {
      &:focus, &:active { @include box-shadow(none); }
    }

    a {
      color:#999;
      line-height: 31px;
      background:#E4E4E4;
      height:2.063em;
      float:left;
      width:12px;
      text-align:center;
      text-decoration:none;
      &:hover, &:focus { color:#666; }
    }
    input {
      font-size:.85em;
      font-family:$muli;
      border: {
        width:0 0 1px 0;
        style:solid;
        color:$wwuLime;
      }
      margin:.5em .25em .25em .75em;
      padding:.25em 0 .1em 0;
      &:focus { outline:none; }
    }
    .form-submit {
      background-color:$wwuOceanBlue;
      color:#fff;
      margin:0;
      padding:0 1em;
      border:none;
      height:4.75em;
      position:absolute;
      top:0;
      right:-1px;
      border-radius:0;
    }
    .form-type-checkbox {
      display:block;
      margin:0;
      label {
        color:gray;
        font-size:.625em;
        font-weight:normal;
      }
    }
    input[type='checkbox'] {
      height:12px;
      width:12px;
    }
  }
}

.western-quick-links ul {
  font-size: .8em;
  li  {
    display:inline-block;
    font-family: $muli;
    padding-left: .5em;
    img {margin-top: -1px;}
    a {
      text-decoration: none;
      padding-left: 6px;
      color: $wwuBlue;
      &:hover, &:focus {
        color:$wwuOceanBlue;
      }
    }
  }
}

//Media Query for the name
@media all and (min-width: 801px) {
  .site-name {
    z-index:99;
    min-width:200px;
    max-width:250px;
    min-height:25px;
    font-size:1.5em;
    text-transform:uppercase;
    text-align:right;
    padding:.75em 1em;
    line-height:1.1;
    p { text-decoration:none; color:#fff; }
  }
}

/* ****************************************************
          Main (container for everything)
**************************************************** */

main {
  padding: .625em;
  //Create a white to gray vertical gradient
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-8 */
  $experimental-support-for-svg: true; //Support for IE9 and Opera Presto
  @include background-image(linear-gradient(rgba(255,255,255,1), rgba(233,233,233,1)));
}

/* ****************************************************
                        Content
**************************************************** */

.region-header, .main-nav, .content {
  @include zen-clear(both);
}

.page-title {
  border-bottom:solid 3px #E9E9E9;
  margin-bottom:1em;
}

.region-highlighted {}

.breadcrumb { /* The path to the current page in the form of a list of links */
  float:right;
  font-size:.75em;
  font-family:$muli;
  color:gray;
  line-height:2.17;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: gray;
    a {
      color:$wwuOceanBlue;
      text-decoration:none;
      &.active { color:$wwuRed; }
      &:hover, &:focus {text-decoration: underline;}
    }
  }
}

/* ****************************************************
                        Links
**************************************************** */

a {
  text-decoration: none;
  color: $wwuOceanBlue; // Changed from Light Blue to "Ocean Blue" for color contrast
  &:hover, &:focus {text-decoration: underline;}
}

/* ****************************************************
                    Typography
**************************************************** */

.secondary-nav { font-family:$muli; }

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  border: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin:1.17em 0 .55em 0;
  line-height:1;
  color:$wwuBlue;
  font-weight:normal;
}

// I don't think this worked after all... how to fix it?
//@for $h from 1 through 6 {
// h#{$h} { font-size:$h#{$h}-font-size; }
//}

h1 { font-size:$h1-font-size; margin:.17em 0 .4em .5em; }
h2 { font-size:$h2-font-size; }
h3 { font-size:$h3-font-size; }
h4 { font-size:$h4-font-size; }
h5 { font-size:$h5-font-size; }
h6 { font-size:$h6-font-size; }

.block-title { font-size:1em; }

footer h2.block-title { color: #fff; }

// To be used (on headers) in Drupal WYSIWYG Styles Dropdown
.title-underline {
  border-bottom: #ddd 3px solid;
  padding-bottom:.25em;
}

.content {
  p, blockquote {
    font-size:.925em;
    font-family:$muli;
    -webkit-text-stroke:.2px;
  }
  .code, code {
    font-family:"Courier New", Courier, monospace;
    font-weight: 700;
    color: $wwuRed;
    margin-left: 3em;
  }
  p {
    margin-top:0;
    margin-bottom:.5em;
    blockquote & { font-size:1em; }
    code { margin-left:0; }
  }
  blockquote {
    background:#ddd;
    padding:1em 1.5em;
    margin:.5em 0;
    max-width:75%;
    min-width:45%;
    p:last-child { margin-bottom:0; }
  }
}

main ul, main ol { margin:0; }

.diminutive-type {
  font-size:1em;
  font-style:italic;
  font-weight:normal;
  text-transform:none;
  font-family:serif;
}

table {
  border-collapse:collapse;
  font-size:.85em;
  font-family:$muli;
}

tr:nth-of-type(odd) { background:#eee; } // Zebra striping

th {
  font-weight:normal;
  background-color:#ddd;
}

td, th {
  padding:.5em;
  text-align:left;
}

tr { border-bottom:1px solid #fff; }
td, th { border-right:1px solid #fff; }

dl {
  @extend p;
  margin-left: 1.5em;
  dt { @extend h4; }
  dd { margin-left: 1.5em; }
}

figure {
  background-color:#fff;
  padding:.75em;
  margin:.75em;
  @include box-shadow(0 0 4px 2px #ddd);
  display:inline-block;
  img { margin:0 auto; }
  figcaption {
    margin-top:.5em;
    font-size:13px;
    font-size:.85rem;
    line-height:1.5;
    font-style:italic;
    color:#555;
  }
}

.float-left, .left {
  float:left;
  margin:1em 1em 1em 0;
}

.float-right, .right {
  float:right;
  margin:1em 0 1em 1em;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/* ****************************************************
                       Footer
**************************************************** */

footer {
  background-color: $wwuBlue;
  color: white;
  border-top:10px solid #fff;
  padding-bottom:.5em;
  a:hover, a:focus, a:active { color:$wwuLime; }
}

.footer-left {
  .footer-site-name, p:first-child {
    font-size: 1.33em;
    text-transform: uppercase;
    line-height: 1.1;
  }
}

.footer-center {
  ul.menu li {
    border-bottom:1px solid #fff;
    list-style-image: none;
    list-style-type: none;
    font-size: .875em;
    padding-top:.5em;
    a {
      color:#fff;
      text-decoration:none;
      padding-left:.15em;
      text-transform:capitalize;
      &:hover, &:focus { color:$wwuLime; }
    }
  }
}


.footer-right {
  min-width: 19em;
  @include background(linear-gradient(top, #3A5A8F, $wwuBlue));
  font-family:$muli;
  h1 {
    @include box-shadow(#555 0 0 7px);
    padding: .75em 0;
    font-weight:normal;
    text-align:center;
    background-color: #fff;
    width:100%;
    font-size:16px;
    font-size:1rem;
    box-sizing: border-box;
    text-transform:uppercase;
    a {
      margin:0;
      padding-top: 0.8em;
      border: none;
      text-decoration:none;
      color:$wwuBlue;
      &:hover, &:active, &:focus { color:$wwuOceanBlue; }
    }
  }
  .western-contact-info {
    font-size:.750em;
    a { color:#fff; }
    // Set the default styles for the p content in the right footer block
    p {
      position:relative;
      padding-left:2em;
      margin-bottom:.75em;
      margin-top:0;
      line-height:1.5em;
      &:last-child { margin-bottom:1.25em; }
      &:before {
        position:absolute;
        top:0.5em;
        left:0;
        content:" ";
      }
    }
    .western-address:before {
      @extend .westernIcons-AddressIcon;
      width:14px;
      height:12px;
      margin-top:-1px;
    }
    .western-telephone:before {
      @extend .westernIcons-PhoneIcon;
      width:12px;
      height:10px;
    }
    .western-contact:before {
      @extend .westernIcons-EmailIcon;
      width:11px;
      height:8px;
      margin-left:1px;
      margin-top:2px;
    }
  }
  .western-social-media {
    position: relative;
    li { list-style: none; display:inline-block; }
    a {
      width:24px;
      height:24px;
      display: block;
      text-indent: -999em;
      &:focus {
        border-bottom:3px solid $wwuLime;
      }
    }
  }
}
/* ****************************************************
                      Page Bottom
**************************************************** */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/* ****************************************************
                    Miscellaneous
**************************************************** */

html.js input.form-autocomplete {
  background-position:100% 5px;
}

/* ****************************************************
                  Partial Files Import
**************************************************** */


@import "accordion"; // jQuery Accordion
