/* Basic CSS for WWU Styles */
/* @import url(https://fonts.googleapis.com/css?family=Muli:400,400italic);
$muli:			  Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
h1, h2, h3, h4, h5, h6 {
	font-family: $muli;
	font-weight: normal;
}

*/
